@import "tailwindcss";

/* Font-face */
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-wght.ttf");
}

:root {
  /* Fonts */
  --primary-font:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Colors */
  --color-white: #ffffff;
  --color-off-white: #f5f5f5;
  --color-black: #000000;
  --color-grey: rgb(78, 73, 73);
  --color-light-grey: rgba(78, 73, 73, 0.2);
  --color-light-grey-2: rgba(78, 73, 73, 0.8);
  --color-green: #5ad18f;
  --color-blue: #53a6fb;

  /* Container */
  --container-max: 600px;
  --container-padding: 1rem;

  /* switch */
  --switch-bg: linear-gradient(
    rgba(0, 0, 0, 0.3) 60%,
    rgba(255, 255, 255, 0.1)
  );
  --switch-text-shadow:
    0px 0px 4px var(--color-white), 0px 0px 8px var(--color-white),
    0px 0px 16px var(--color-white);
  --switch-shadow:
    0px 1px 2px var(--color-white), 0px -2px 6px var(--color-black);

  /* Current-variant-notifier */
  --current-variant-text-shadow:
    0px 0px 4px var(--color-white), 0px 0px 16px var(--color-white);

  /* Font-sizes */

  /* Cards */
  --card-shadow:
    2px 4px 10px var(--color-white), inset 2px 4px 10px var(--color-white);

  /* Button Shadow */
  --follow-btn-shadow:
    -2px 4px 8px rgba(0, 0, 0, 0.3), inset -2px 4px 8px var(--color-white);
  --follow-btn-shadow-2:
    0px 4px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 10px var(--color-light-grey);
  --save-btn-shadow: 0px 0px 8px var(--color-light-grey);

  /* scroll down */
  --track-offset: -100%;
}

button {
  cursor: pointer;
}

body {
  background: conic-gradient(
    at 30% -10%,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgba(141, 109, 3, 0.315) 45%,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  background-color: rgb(173, 8, 8);
  font-family: var(--primary-font);
}

.text-stroke {
  -webkit-text-stroke: var(--color-white) 1px;
}

.avatar-shadow {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.scroll-mask {
  position: absolute;
  z-index: 50;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 25%,
    black 65%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 25%,
    black 65%,
    transparent 100%
  );
}
